/*
========================================================================================
    Container Definitions
========================================================================================
*/

process {
    
    withName: 'FASTQC_RAW|FASTQC_TRIMMED' {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    
    withName: FASTP {
        container = 'quay.io/biocontainers/fastp:0.23.4--h5f740d0_0'
    }
    
    withName: SPADES {
        container = 'staphb/spades:3.15.5'
    }
    
    withName: QUAST {
        container = 'staphb/quast:5.2.0'
    }
    
    withName: PROKKA {
        container = 'quay.io/biocontainers/prokka:1.14.6--pl5321hdfd78af_4'
    }
    
    withName: AMRFINDERPLUS {
        container = 'quay.io/biocontainers/ncbi-amrfinderplus:3.12.8--h283d18e_0'
    }
    
    withName: VFDB_BLAST {
        container = 'ncbi/blast:latest'
    }
    
    withName: MLST {
        container = 'staphb/mlst:2.23.0'
    }
    
    withName: SNIPPY {
        container = 'staphb/snippy:4.6.0'
    }
    
    withName: SNIPPY_CORE {
        container = 'staphb/snippy:4.6.0'
    }
    
    withName: IQTREE {
        container = 'staphb/iqtree:2.2.2.6'
    }
    
    withName: SNP_DISTS {
        container = 'staphb/snp-dists:0.8.2'
    }
    
    withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.19--pyhdfd78af_0'
    }
}
